body{
  background-color:#202025;
  color: #fff;
  font-family:'Kaushan Script', cursive;

}
.contenedor{
    max-width: 1320px;
     margin: 0 auto;
     padding: 30px 0;
    
    
     
     }

      
    
