
.titulo_detail{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    margin: 10px;
    font-weight: bold;
  }
.precio_detail{
      
    margin: 15px;
    font-size: 30px;
   }