.header{
 background-color: rgb(18, 17, 17);

 .wts{
        width: 50px;
        position: fixed;
        bottom: 300px;
        right: 30px;
 }

  .header_container{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  .header_logo{
    cursor: pointer;
   
}
.header_logo img{
  width: 150px;
  padding: 10px;
  margin: auto;
  transition: all 0.4s;
  
  }
  .header_logo img:hover{
    transform: scale(1.2);
    
  }
    .navbar ul{
    list-style: none;
    } 
    .menu{
      display: inline-flex;
    }
      .navbar_link{
        display: inline-flex;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 1.3rem;
        font-family:'Kaushan Script', cursive;
        color: #fff;
    }  
    .navbar_link:hover{
      transform: scale(1.2); 
      transition: all 0.4s;
   
  }

    .submenu{
      position: absolute; 
      background-color:  rgb(18, 17, 17);
      color: #fff;
      width: 110%;
      display: none; 
  }
  .menu li:hover .submenu {
    display: block;
}
    }
     
    .carrito{
      display: inline-flex;
      font-size: 30px;
      margin-right: 20px;
      margin-top: 3.5px;
      cursor: pointer;
    }}
  