.Sub-vista{
    text-transform: uppercase;
    margin: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.titulo_vista{
    text-transform: uppercase;
    font-size: 20px;
}
.precio_vista{
    font-size: 18px;
}
.info_vista{
    font-size: 18px;
}
                       
.cant-vista {
    font-size: 18px;
}


